<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartfarming">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFarming">
        <activity
            android:name=".ui.addgarden.AddGarden"
            android:exported="false"
            android:label="@string/title_activity_add_garden"
            android:theme="@style/Theme.SmartFarming" />
        <activity
            android:name=".ui.addactivities.IrrigationActivity"
            android:exported="false"
            android:label="@string/title_activity_irrigation"
            android:theme="@style/Theme.SmartFarming" />
        <activity
            android:name=".ui.addactivities.AddActivities"
            android:exported="false"
            android:label="@string/title_activity_add_activities"
            android:theme="@style/Theme.SmartFarming" />
        <activity
            android:name=".ui.adduser.AddUserActivity"
            android:exported="false"
            android:label="@string/title_activity_add_user"
            android:theme="@style/Theme.SmartFarming" />
        <activity
            android:name=".ui.addgarden.AddGardenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>